<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title th:text="'Updated Password - ' + ${title}">Updated Password</title>
        <script src="/systems.dmx.sign-up/script/vendor/sha256.js"></script>
        <script src="/systems.dmx.sign-up/script/sign-up.js" />
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
        <script th:inline="javascript">
        /*<![CDATA[*/
            signupConfig.appLoadingMessage = /*[[${loading_app_hint}]]*/ "Loading Webclient";
            signupConfig.appStartPageURL = /*[[${start_url}]]*/ "/";
            signupConfig.passwordLength = /*[[${password_length_hint}]]*/ "Your password must be at least 8 characters long.";
            signupConfig.passwordMatch = /*[[${password_match_hint}]]*/ "Your passwords do not match.";
            signupConfig.checkTerms = /*[[${check_terms_hint}]]*/ "First, please check our terms and conditions.";
            signupConfig.usernameInvalid = /*[[${username_invalid_hint}]]*/ "This username would be invalid.";
            signupConfig.usernameTaken = /*[[${username_taken_hint}]]*/ "This username is already taken.";
            signupConfig.emailInvalid = /*[[${email_invalid_hint}]]*/ "This Email Address would be invalid.";
            signupConfig.emailTaken = /*[[${email_taken_hint}]]*/ "This E-Mail address is already registered.";
            signupConfig.notAuthorized = /*[[${not_authorized_message}]]*/ "You're not authorized. Sorry.";
            signupConfig.accountCreationMethodIsLdap = /*[[${account_creation_method_is_ldap}]]*/ false;
            signupConfig.authorizationMethods = /*[[${authorization_methods}]]*/ "["Basic"]";
            signupConfig.redirectUrl = /*[[${redirect_url}]]*/ "/";
            signupConfig.lastAuthorizationMethod = /*[[${last_authorization_method}]]*/ "Basic";
            signupConfig.selfRegistrationEnabled = /*[[${self_registration_enabled}]]*/ true;
            signupConfig.isAccountCreationPasswordEditable = /*[[${is_account_creation_password_editable}]]*/ false;
        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>

    <body class="ui page detail ok-page sign-up">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div th:replace="fragments/widgets :: teaser-small" />

            <div class="ui container vertical padded segment">
                <div class="ui container">
        
                    <div id="sign-up-view" class="dialog-body" th:if="${!#strings.isEmpty(requested_username)}">
                        <h2 th:text="${password_requested_title}">New Password</h2>
                        <form class="sign-up-form" action="javascript:voidFunction();" onsubmit="javascript:updatePassword();">
                            <input type="hidden" id="token-info" th:value="${token}" />
                            <!--input type="text" id="name" th:if="${requested_display_name}" th:value="${requested_display_name}" /-->
                            <label for="pass-one" th:text="${label_email}"></label>
                            <input type="text" id="username" disabled="true" th:value="${mailbox}" />
                            <label for="pass-one"  th:text="${label_password}"></label>
                            <input type="password" id="pass-one" name="pass-one" th:placeholder="${label_password}"
                                   onchange="checkPassword()" class="sign-up password" />
                            <label for="pass-two"  th:text="${label_password}"></label>
                            <input type="password" id="pass-two" name="pass-two" th:placeholder="${label_password_repeat}"
                                   onchange="comparePasswords()" class="sign-up password" />
                            <div id="message-view"><span id="message"></span></div>
                            <input type="submit" id="create" th:value="${password_requested_button} + ' &#x2794;'" class="sign-up ok" />
                        </form>
                    </div>

                    <div id="sign-up-view" class="dialog-body" th:if="${#strings.isEmpty(requested_username)}">
                        <h2>Not authorized to use the password reset functionality.</h2>
                    </div>

                </div>
            </div>

            <!--div th:replace="fragments/footer :: footer-new"></div-->

        </div>

        <div th:replace="fragments/widgets :: imprint-links"></div>

        <div class="footer"></div>

    </body>

</html>
