<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title th:text="${signup_title} + ' - ' + ${title}">Sign up</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
        <script src="/systems.dmx.sign-up/script/vendor/sha256.js"></script>
        <script src="/systems.dmx.sign-up/script/sign-up.js" />
        <script th:inline="javascript">
        /*<![CDATA[*/
            signupConfig.appLoadingMessage = /*[[${loading_app_hint}]]*/ 'Loading Webclient';
            signupConfig.appStartPageURL = /*[[${start_url}]]*/ '/';
            signupConfig.passwordLength = /*[[${password_length_hint}]]*/ "Your password must be at least 8 characters long.";
            signupConfig.passwordMatch = /*[[${password_match_hint}]]*/ "Your passwords do not match.";
            signupConfig.checkTerms = /*[[${check_terms_hint}]]*/ "First, please check our terms and conditions.";
            signupConfig.usernameInvalid = /*[[${username_invalid_hint}]]*/ "This username would be invalid.";
            signupConfig.usernameTaken = /*[[${username_taken_hint}]]*/ "This username is already taken.";
            signupConfig.emailInvalid = /*[[${email_invalid_hint}]]*/ "This Email Address would be invalid.";
            signupConfig.emailTaken = /*[[${email_taken_hint}]]*/ "This E-Mail address is already registered.";
            signupConfig.notAuthorized = /*[[${not_authorized_message}]]*/ "You're not authorized. Sorry.";
            signupConfig.accountCreationMethodIsLdap = /*[[${account_creation_method_is_ldap}]]*/ false;
            signupConfig.isAccountCreationPasswordEditable = /*[[${is_account_creation_password_editable}]]*/ false;
        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>

    <body class="ui page detail sign-up-page sign-up">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

          <!-- Teaser Area -->
          <div th:replace="fragments/widgets :: teaser-small" />
          
          <div class="ui container vertical padded segment first dialog-header">
                <!--h2>Register new user account</h2-->
          </div>

            <form class="sign-up-form ui form" action="javascript:voidFunction();" onsubmit="javascript:createCustomAccount();">

                <div id="sign-up-view" class="dialog-body ui padded segment vertical blue2bg">
                    <div class="ui container">
                        <h2 th:text="${signup_title}">Sign up</h2>
                            <div class="ui input">
                              <label for="displayname" th:text="${label_name}"></label>
                                <input id="displayname" type="text" name="displayname" th:placeholder="${label_name}" title="Name" class="sign-up displayname" />
                            </div>
                            <div class="ui input">
                                <label for="username"  th:text="${label_email}"></label>
                                <input id="username" type="text" name="username" th:placeholder="${label_email}" title="Username"
                                   onblur="checkUserNameAvailability()" class="sign-up username" />
                            </div>
                            <div class="ui input" th:if="${is_account_creation_password_editable}">
                                <label for="pass-one" th:text="${label_password}"></label>
                                <input id="pass-one" type="password" name="password" th:placeholder="${label_password}" title="Password" class="sign-up password" />
                            </div>
                            <div id="message-view"><span id="message"></span></div>
                    </div>
                </div>

                <div id="sign-up-view" class="dialog-body ui padded segment vertical">
                    <div class="ui container">
                        <div th:if="${can_create_new_account and email_confirmation_active}">
                            <input id="skip-confirmation" name="skip-confirmation" type="checkbox"
                                   title="Skip the confirmation process" class="ui input checkbox"/>
                            <label for="skip-confirmation" th:text="${skip_confirmation_mail_label}">
                                Do not send confirmation mail
                            </label>
                        </div>
                        <input type="submit" id="create" th:value="${create_account}" title="Create Account" class="ui button white sign-up ok" />
                        &#160;
                        <span th:text="${or_label}">or</span> <a href="/sign-up/login" th:text="${log_in_small}" title="log in">log in</a>.
                    </div>
                </div>

            </form>

          <!--div th:replace="fragments/footer :: footer-new"></div-->

        </div>

        <div th:replace="fragments/widgets :: imprint-links"></div>

        <div class="footer"></div>

    </body>

</html>
